mixin facts(data)
    section.section.section--facts2
        .facts2
            .facts2__left.facts2__left-js
                .facts2__title!=data.title
                .corner.corner--facts2!=data.desc
                
                .btnn-row
                    a(href="https://new.faberlic.com/register" target="_blank").btnn-primary.btnn-primary--white.btnn-primary--facts2!=data.btn
                        svg.btnn-primary__arrow(viewBox='0 0 31 10' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M29.8582 5.47504C30.0925 5.24073 30.0925 4.86083 29.8582 4.62651L26.0398 0.808138C25.8055 0.573824 25.4256 0.573824 25.1913 0.808138C24.957 1.04245 24.957 1.42235 25.1913 1.65667L28.5854 5.05078L25.1913 8.44489C24.957 8.67921 24.957 9.05911 25.1913 9.29342C25.4256 9.52773 25.8055 9.52773 26.0398 9.29342L29.8582 5.47504ZM5.9998e-08 5.65078L29.434 5.65078L29.434 4.45078L-5.9998e-08 4.45078L5.9998e-08 5.65078Z' fill='white')
            .facts2__right
                .facts2__item.facts2__item--1.facts2__item-js-1
                    .facts2__svg
                        svg(viewBox="0 0 180 172" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M39.2032 86C63.1076 86 78.8845 66.3017 78.8845 43V42.5195C78.8845 19.4581 63.3466 0 39.6813 0C16.0159 0 0 19.4581 0 43V43.4804C0 66.7821 15.7769 86 39.2032 86ZM39.2032 18.4972C49.9602 18.4972 57.6096 29.5475 57.6096 43V43.4804C57.6096 56.4525 50.9163 67.5028 39.6813 67.5028C28.9243 67.5028 21.2749 56.6927 21.2749 43V42.5195C21.2749 29.5475 27.9681 18.4972 39.2032 18.4972ZM82.7092 80.7151L16.9721 170.078H40.6374L97.0518 91.5251L163.028 1.92178H139.363L82.7092 80.7151ZM140.319 172C163.984 172 180 152.302 180 129V128.52C180 105.458 164.223 86 140.797 86C117.131 86 101.116 105.458 101.116 129V129.48C101.116 152.782 116.892 172 140.319 172ZM140.797 153.503C130.04 153.503 122.39 142.693 122.39 129V128.52C122.39 115.547 129.084 104.497 140.319 104.497C151.076 104.497 158.725 115.547 158.725 129V129.48C158.725 142.453 152.032 153.503 140.797 153.503Z")
                    .facts2__note!=data.block_1_title
                    .facts2__subnote!=data.block_1_desc
                .facts2__item.facts2__item--2.facts2__item-js-2
                    .facts2__svg
                        svg(version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 178 176" xml:space="preserve")
                            path(d="M142.9,32.9c1.7-3.2,2.5-6.8,2.5-10.4c0-12.4-10-22.5-22.4-22.5c-2.4,0-5.4,0.8-8.9,2.3	c-3.1,1.3-6.6,3.2-10.1,5.5c-6,3.9-11.4,8.6-15.2,13c-3.8-4.4-9.3-9-15.3-12.8c-3.4-2.2-6.9-4.1-10-5.4c-3.5-1.5-6.4-2.2-8.7-2.2	c-12.3,0-22.4,10.1-22.4,22.5c0,3.5,0.8,6.9,2.3,10H0v52.7h10.3V176h157.6V85.6H178V32.9H142.9z M64,85.6v77.2H23.6V85.6H64z	 M164.6,72.7h-50.7V46.2h50.7L164.6,72.7z M132.1,22.9c0,4.5-3.1,8.5-7.2,9.4H96.6c0.5-0.8,1.2-1.8,2.2-2.9c2-2.3,4.9-4.9,8-7.4	c3.2-2.5,6.6-4.8,9.5-6.4c4.1-2.2,6-2.4,6.7-2.4C128.1,13.2,132.1,17.5,132.1,22.9z M100.6,46.2v116.6H77.3V46.2H100.6z M45.9,22.9	c0-2.6,1-5.1,2.8-7c1.7-1.7,3.9-2.7,6.2-2.7c0.3,0,1.1,0.1,2.5,0.6c1.2,0.4,2.5,1,4,1.9c2.9,1.6,6.3,3.9,9.5,6.4	c3.2,2.5,6.1,5.1,8.1,7.4c1,1.1,1.7,2,2.2,2.9H53.1C49,31.4,45.9,27.4,45.9,22.9L45.9,22.9z M13.3,46.2h50.7l0,26.5H13.3V46.2z	 M154.4,85.6v77.2h-40.5V85.6H154.4z")
                    .facts2__note!=data.block_2_title
                    .facts2__subnote!=data.block_2_desc
                .facts2__item.facts2__item--3.facts2__item-js-3
                    .facts2__svg
                        svg(version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 139 180" xml:space="preserve")
                            path(d="M138.9,173l-6-122.8l0,0c-0.1-1.9-1-3.4-2-4.5c-1.1-1-2.7-2-4.6-2h-21.2v-9c0-19.2-15.8-34.5-35.2-34.5	c-20,0-35.9,15.3-35.9,34.5v9H12.7c-1.9,0-3.6,0.9-4.6,2c-1,1-2,2.6-2,4.5l0,0L0.1,173l0,0.1v0.1c0,0.7-0.1,2.9,1.9,4.8	c1.9,1.9,4.1,1.8,4.8,1.8h125.6c0.7,0,2.9,0.1,4.8-1.8c1.9-1.9,1.9-4.1,1.9-4.8L138.9,173L138.9,173z M19.1,57h14.8v3.8	c0,2,1,3.6,2,4.6c1.1,1,2.7,2,4.6,2c1.9,0,3.6-0.9,4.6-2c1.1-1,2-2.7,2-4.6V57h44.5v3.8c0,2,1,3.6,2,4.6c1.1,1,2.7,2,4.6,2	c1.9,0,3.6-0.9,4.6-2c1.1-1,2-2.7,2-4.6V57h14.8l5.6,109.6H13.6L19.1,57z M69.8,13.4c11.9,0,21.9,9.4,21.9,21.3v9H47.3v-9	C47.3,23.6,57.9,13.4,69.8,13.4z M123.7,53L123.7,53L123.7,53L123.7,53z M15.3,53L15.3,53L15.3,53L15.3,53z")
                    .facts2__note!=data.block_3_title
                    .facts2__subnote!=data.block_3_desc